body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
}
.btn{
    text-decoration: dashed;
    color: yellow;
}
.btn:visited{
    color: #9f9f9f;

}
.btn:hover{
    color: black;
}
li:first-child{
    color: red;
    background-color: yellow;
}
li:last-child{
    background-color: red;
    color: yellow;
}
/* nth child */
/* an+b */
li:nth-child(5){
    background-color: teal;
}

/* you can also change text selection color */
::selection{
    color: greenyellow;
    background-color: black;
}
h2::first-letter{
    font-size: 2rem;
}
p::first-letter{
    font-size: 2rem;
    font-weight: 800;
}
p::first-line{
   background-color: burlywood;
}
.required::after{
    content: '*';
    color: red;
}