*{
    box-sizing: border-box;
}
.container{
    height: 300px;
    border: 2px solid blue;
    display: flex;  
    gap: 10px;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    align-items: center;

}
.box{
    border: 2px solid red;;
    width: 100px;
    height: 200px;
    font-size: 2rem;
   
}
.box img{
    height: 100px;
    width: 100%;
}
@media  screen and (max-width:400px){
    
    .box{
        height: 80px;
        font-size: inherit;
    }
    .box img{
        max-height: 50px;

    }
    h1{
        font-size: 1rem;
        
    }
}